.row {
	display: block;

	&__b-margin-until-medium {
		margin-bottom: 5rem;
	}

	&--t-padding {
		padding-top: 80px;
	}

	@mixin atMedium{
		display: flex;
		justify-content: space-between;

		&__b-margin-until-medium {
			margin-bottom: 0;
		}

		&__medium-4 {
			width: 100;
		}		



		&__medium-6 {
			width: 42%;
		}

		&__medium-8 {
			width: 64%;
		}

		&__medium-4--larger {
			width: 33%;
		}

		&__medium-8--smaller {
			width: 58%;
		}
		
	}


	@mixin atLarge {
		display: flex;
		justify-content: space-between;

		&__b-margin-until-large {
			margin-bottom: 0;
		}

		&__large-4 {
			width: 30%;
		}		

		&__large-6 {
			width: 42%;
		}

		&__large-8 {
			width: 64%;
		}

		&__large-4--larger {
			width: 33%;
		}

		&__large-8--smaller {
			width: 58%;
		}	}
}
